body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    display: grid;
    grid-template-areas: 
    "header header"
    "playerBoard computerBoard";
    margin: 0;
    padding: 0;
    height: 100vh;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    overflow: hidden;
}

#header {
    width: 100%;
    height: 100%;
    grid-area: header;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    align-items: center;
}

h1 {
    color: #333;
    font-size: 2rem;
}

#computerBoard {
    grid-area: computerBoard;
    width: 100%;
    height: 100%;
    background-color: orangered;
}

#computerBoard table {
    margin: 5%;
    width: 90%;
    height: 82%;
}

#playerBoard table {
    margin: 2% 5%;
    width: 90%;
    height: 55%;
}

#playerBoard {
    grid-area: playerBoard;
    width: 100%;
    background-color: blue;
    padding: 10px; /* Add padding if needed */
    box-sizing: border-box; /* Include padding and border in width calculations */
}

#pieces {
    border: 1px solid white;
    display: flex;
    width: 100%; /* Adjust to ensure it is 50% of the parent */
    flex-flow: column nowrap;
    box-sizing: border-box; /* Include padding and border in width */
    overflow: hidden; /* Prevent overflow */
}

#Ships {
    height: 15vh;
    display: flex;
    gap: 10px;
    flex-flow: column wrap;
    padding: 10px;
}

h3 {
    color: white;
    height: 10%;
}

h2 {
    color: white;
}

td {
    border: 1px solid black;
    background: white;
}

._2 {
    background-color: yellow;
}

._3 {
    background-color: green;
}

._4 {
    background-color: purple;
}

._5 {
    background-color: orangered;
}

.hit {
    background-color: red;
}

.miss {
    background-color: gray;
}

#header h2 {
    color: black;
}

#buttons {
    margin-bottom: 10px;
    flex-flow: row nowrap;
}